.advantages-others {
  background-color: #EEEEEE;
  text-align: center;
}

.advantages-others__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.advantages__list--others {
  padding: 25px 20px;

  @media (min-width: 768px) {
    padding: 0;
    padding-top: 42px;
    padding-bottom: 43px;

  }

  @media (min-width: 1200px) {
    padding-bottom: 64px;
  }
}

.advantages-others__item {
  text-align: center;
  border-bottom: solid 1px #D6D6D6;
  padding-bottom: 25px;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    border: none;
    padding: 0;
    margin: 0;
  }


  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  & p {
    margin: 0 auto;
    width: 250px;

    @media (min-width: 768px) {
      width: 100%;
      padding: 0 54px;
    }

    @media (min-width: 1200px) {
      padding: 0 65px;
    }
  }

  &:first-child p {
    @media (min-width: 768px) {
      padding: 0 30px;
      padding-bottom: 21px;
    }

    @media (min-width: 1200px) {
      padding: 0 55px;
    }
  }
}

.advantages__title--others {
  margin-bottom: 12px;

  @media (min-width: 768px) {
    padding: 0 45px;
    margin-bottom: 13px;
  }

  @media (min-width: 1200px) {
    padding: 0 120px;
  }
}
