@media (min-width: 768px) {
  .advantages__page {
    min-height: 256px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
  }

  .advantages__page--two {
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__number {
  margin-bottom: 16px;

  @media (min-width: 768px) {
    margin-bottom: 23px;
  }
}

.advantages__page-picture {
  min-height: 260px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-city-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    min-height: 256px;
    background-image: url("../img/main-city-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-city-tablet@2x.jpg");
    }
  }

  @media (min-width: 1200px) {
    background-position: center;
    background-image: url("../img/main-city-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-city-desktop@2x.jpg");
    }
  }
}

.advantages__page-picture--city {
  background-image: url("../img/main-city-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-city-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    min-height: 256px;
    background-image: url("../img/main-city-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-city-tablet@2x.jpg");
    }
  }

  @media (min-width: 1200px) {
    background-position: center;
    background-image: url("../img/main-city-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-city-desktop@2x.jpg");
    }
  }
}

.advantages__page-picture--bridge {
  background-image: url("../img/main-bridge-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-bridge-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    min-height: 256px;
    order: -1;
    background-image: url("../img/main-bridge-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-bridge-tablet@2x.jpg");
    }
  }

  @media (min-width: 1200px) {
    background-position: center;
    background-image: url("../img/main-bridge-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-bridge-desktop@2x.jpg");
    }
  }
}

.advantages__img {
  object-fit: cover;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.advantages__wrapper {
  width: 88%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 50px;

  @media (min-width: 768px) {
    width: 100%;
    padding: 0;
  }
}

.advantages__list {
  padding-top: 35px;
  padding-bottom: 10px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

.advantages__list--others {
  padding: 27px 20px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.advantages__item {
  margin-bottom: 25px;
  position: relative;

  @media (min-width: 768px) {
    text-align: center;
    margin: 0 auto;
    padding-top: 158px;
    padding-bottom: 60px;
  }

  @media (min-width: 1200px) {
    padding-top: 156px;
    padding-bottom: 81px;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 17px;

  @media (min-width: 768px) {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;

    margin-bottom: 24px;
  }
}

.advantages__title--others {
  margin-bottom: 12px;

  @media (min-width: 768px) {
    padding: 0 46px;
    margin-bottom: 13px;
  }

  @media (min-width: 1200px) {
    padding: 0 120px;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
}

.advantages__description--others {
  padding: 0 6%;

  @media (min-width: 768px) {
    padding: 0 21%;
  }

  @media (min-width: 1200px) {
    padding: 0 17%;
  }
}

.advantages__item::before {
  content: " ";
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  left: -50px;
  top: 4px;
  transform: translate(0, -35%);

  @media (min-width: 768px) {
    top: 57px;
    width: 76px;
    height: 76px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantages__item--house::before {
  background-image: url("../img/svg/icon-house.svg");
}

.advantages__item--gift::before {
  background-image: url("../img/svg/icon-gift.svg");
}

.advantages__item--burger::before {
  background-image: url("../img/svg/icon-burger.svg");
}

.advantages__item--gift br {
  display: none;
}

@media (min-width: 768px) {
  .advantages__description {
    .advantages__item--house & {
      padding: 0 40px;
    }

    .advantages__item--burger & {
      padding: 0 50px;
    }

    .advantages__item--gift & {
      padding: 0 30px;
      padding-bottom: 20px;
    }
  }

  .advantages__item--gift {
    order: 3;
  }
}


@media (min-width: 1200px) {
  .advantages__description {
    .advantages__item--house & {
      padding: 0 45px;
    }

    .advantages__item--gift & {
      padding: 0 50px;
    }
  }

  .advantages__item--gift br {
    display: inline;
  }
}
