.advantages-others {
  background-color: #EEEEEE;
  text-align: center;

  @media (min-width: 768px) {
    padding: 50px 0px;
  }
}

.advantages-others__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.advantages-others__item {
  margin: 0 auto;
  text-align: center;
  border-bottom: solid 1px #D6D6D6;

  @media (min-width: 768px) {

    width: 140px;
    border: none;
  }

  &:last-child {
    border-bottom: none;
  }

  & p {
    margin: 0 auto;
    width: 250px;

    @media (min-width: 768px) {
      width: 140px;
    }
  }

}
