.advantages-others {
  background-color: #EEEEEE;
  text-align: center;
}

.advantages-others__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.advantages-others__item {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #D6D6D6;

  &:last-child {
    border-bottom: none;
  }

  & p {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
  }
}
