.intro {
  position: relative;
  text-align: center;
  padding-top: 33px;
  padding-bottom: 32px;

  &::before {
    content: " ";
    position: absolute;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 57px;
    width: 100%;
    top: -57px;
    background-image: url("../img/svg/bg-intro-triangle-mobile.svg");
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 768px) {
      background-image: url("../img/svg/bg-intro-triangle-tablet.svg");
    }

    @media (min-width: 1200px) {
      background-image: url("../img/svg/bg-intro-triangle-desktop.svg");
    }
  }

  @media (min-width: 768px) {
    padding-top: 43px;
    padding-bottom: 51px;
  }

  @media (min-width: 1200px) {
    padding-top: 54px;
    padding-bottom: 42px;
  }
}

.intro--main {
  &::after {
    content: " ";
    position: absolute;
    background-size: 100%;
    width: 100%;
    height: 37px;

    background-image: url("../img/svg/white-triangle.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    bottom: 0;
    transform: translate(-50%, 50%);
  }

  @media (min-width: 768px) {
    &::after {
      display: none;
    }
  }
}

.intro__wrapper {
  padding: 0 6%;

  @media (min-width: 768px) {
    padding: 0;
    width: 520px;
    margin: 0 auto;
  }
}

.intro--page {
  border-bottom: solid 1px #e5e5e5;
  padding: 32px 15px 27px;

  @media (min-width: 768px) {
    border: none;
    padding: 63px 110px 75px;
  }

  @media (min-width: 1200px) {
    padding: 100px 380px 77px;
  }
}

.intro--form-page {
  padding-top: 37px;
  padding-bottom: 17px;

  @media (min-width: 768px) {
    border: none;
    padding: 63px 165px 85px;
  }

  @media (min-width: 1200px) {
    padding: 113px 380px 58px;
  }
}

.intro__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  margin-bottom: 30px;

  @media (min-width: 768px) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 32px;

    & br {
      display: none;
    }
  }
}

.intro__title--page {
  line-height: 26px;
  margin-bottom: 27px;

  @media (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 30px;
  }
}

.intro__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.intro__text--form {
  line-height: 24px;
}
