.page-main {
  width: 100%;
}

.page-main__container {
  @media (min-width: 768px) {
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    padding: 0;
  }
}


.page-main__header {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: bottom;
  background-color: #ddebf4;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }


  @media (min-width: 768px) {
    min-height: 290px;
    align-items: flex-start;
    padding-top: 77px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }


  @media (min-width: 1200px) {
    padding-top: 85px;
    min-height: 300px;

    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.page-main__header--index {
  min-height: 389px;
  display: block;
  padding: 90px 20px 60px;

  background-image: url("../img/back-mobile.jpg");
  background-size: cover;

  color: #ffffff;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    min-height: 519px;
    padding-top: 77px;

    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    @media (min-width: 1200px) {

      padding-top: 77px;
      background-image: url("../img/bg-back-desktop@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
      }
    }
  }
}

.page-main__header-title {
  width: 282px;
  margin: 0 auto;
  padding-bottom: 10px;


  @media (min-width: 768px) {
    width: 461px;
  }
}

.page-main__header-img-wrapper {
  padding: 32px 45px;
  padding-bottom: 47px;


  @media (min-width: 768px) {
    padding-top: 18px;
  }
}
