.page-header {
  position: relative;

  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding-bottom: 0;
  }
}


.page-header__logo {
  position: absolute;
  bottom: 19px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 50%);
  z-index: 90;
}
