.page-footer {
  text-align: center;
}

.page-footer--index {
  padding-top: 31px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .page-footer--index {
    padding: 33px 60px;
  }

  .page-footer--photo {
    padding: 165px 60px 35px;
  }

  .page-footer--form {
    padding: 95px 60px 35px;

    @media (min-width: 1200px) {
      padding: 100px 120px 35px;
    }
  }
}

@media (min-width: 1200px) {
  .page-footer--index {
    padding: 33px 120px;
  }

  .page-footer--photo {
    padding: 114px 121px 35px;
  }


}

.page-footer--photo {
  padding: 137px 0 30px;
}

.page-footer__wrapper {
  width: 150px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;

  }
}

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.page-footer__social-list {
  margin-bottom: 40px;
  width: 150px;
  height: 48px;

  @media (min-width: 768px) {
    margin: 0;
  }
}


.social {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    width: 150px;
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
}

.social-link--tvitter {

  &::before {
    content: " ";
    width: 18px;
    height: 15px;
    background-image: url(../img/svg/icon-twitter.svg);
  }
}

.social-link--facebook {

  &::before {
    content: " ";
    width: 9px;
    height: 19px;
    background-image: url(../img/svg/icon-facebook.svg);
  }
}

.social-link--youtube {

  &::before {
    content: " ";
    width: 20px;
    height: 14px;
    background-image: url(../img/svg/icon-youtube.svg);
  }
}

.page-footer__copyright {
  width: 128px;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin-left: 9px;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-weight: 400;

}
