.page-header__menu {
  height: 60px;
  width: 100%;

  @media (min-width: 768px) {
    height: 0;
  }
}

.page-header__logo {
  position: absolute;
  bottom: 16px;
  transform: translate(-50%, 50%);
  z-index: 90;
}
