.page-footer {
  text-align: center;
  padding: 36px 0 30px;
}

.page-footer--photo {
  padding: 31px 0 30px;

  @media (min-width: 768px) {
    padding: 34px 60px 35px;
  }
}


.page-footer--form {
  padding: 74px 0 30px;
}


@media (min-width: 768px) {
  .page-footer--index {
    padding: 39px 60px;
  }

  .page-footer--form {
    padding: 95px 60px 35px;

    @media (min-width: 1200px) {
      padding: 100px 120px 35px;
    }
  }
}

@media (min-width: 1200px) {
  .page-footer--index {
    padding: 36px 120px;
  }

  .page-footer--photo {
    padding: 123px 121px 35px;
  }
}


.page-footer__wrapper {
  width: 150px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.page-footer__social-list {
  margin-bottom: 39px;
  width: 150px;
  height: 48px;

  @media (min-width: 768px) {
    margin: 0;
  }
}


.social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    width: 150px;
  }
}

.social__item {
  margin-bottom: 5px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    & .social__link-icon {
      fill: fade(#ffffff, 30%);
    }
  }
}

.social__link-icon {
  fill: #ffffff;
}

.page-footer__copyright {
  width: 128px;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin-left: 9px;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-weight: 400;
}

.copyright__text {
  margin-right: 12px;
}

.copyright__link {
  &:hover {
    & path {
      fill: #81b3d2;
    }
  }

  &:active {
    & path {
      fill: fade(#000000, 30%);
    }
  }
}
