.photo__wrapper {
  width: 280px;
  margin: 0 auto;
}

.photo__caption {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
}

.photo__title {
  font-weight: 700;

  margin-bottom: 5px;
}

.photo__autor {
  font-weight: 400;
  text-transform: none;
  color: #333333;

  margin-bottom: 5px;
}

.photo__like {
  border: none;
  background-color: inherit;
}

.photo__item {
  border-bottom: solid 1px #E5E5E5;
  padding-top: 20px;
}

.photo__img {
  display: block;
  width: 100%;
  height: auto;
}

.video {
  width: 100%;
  height: auto;
}
