.search {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.search__wrapper {
  width: 280px;
  margin: 0 auto;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 30px;
  font-weight: 700;
}

.search__text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}

