.video-presentation {
  text-align: center;
  padding-top: 33px;
  padding-bottom: 112px;

  @media (min-width: 1200px) {
    padding: 0 201px;
  }
}

.video-presentation__header {
  padding: 0 25px 34px;

  @media (min-width: 768px) {
    /* width: 445px; */
    padding: 57px 95px 79px;
  }

  @media (min-width: 1200px) {
    padding: 61px 175px 79px;
  }
}

.video-presentation__title {
  font-size: 18px;
  line-height: 26px;

  margin-bottom: 28px;

  @media (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.video-presentation__text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.video-pleer {
  position: relative;
}

.video-pleer__screen {}

.video-pleer__panel {
  position: absolute;

}

.video-pleer__scroll-panel {}

.video-pleer__control-panel {}
